* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #00adb5;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    background: white;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text span {
    color: #00adb5;
}

.hero-text p {
    margin: 20px 0;
}

.hero-text button {
    padding: 10px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
}

.hero-text button:hover {
    background: #007b80;
}

.hero-image img {
    width: 300px;
    border-radius: 10px;
}


.about-page {
    padding: 80px 50px;
    background: #f4f4f4;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-image img {
    width: 350px;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text h3 {
    margin-top: 20px;
}

.about-text ul {
    margin-top: 10px;
}

.about-text ul li {
    margin-bottom: 8px;
}


.projects {
    padding: 60px 50px;
    text-align: center;
    background: white;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.project-box {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-box:hover {
    background: #00adb5;
    color: white;
}

/* Contact */
.contact {
    padding: 60px 50px;
    text-align: center;
    background: #eaeaea;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    text-decoration: none;
}
/* Projects Page */
.projects-page {
    padding: 80px 50px;
    text-align: center;
    background: #f4f4f4;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.project-card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #00adb5;
    color: white;
    text-decoration: none;
}

/* Contact Page */
.contact-page {
    padding: 80px 50px;
    background: #eaeaea;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.contact-image img {
    width: 400px;
    border-radius: 10px;
}

.contact-form {
    width: 400px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
}

.contact-form button {
    padding: 10px;
    background: #00adb5;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: #007b80;
}
/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #373636;
    color: white;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    color: white;
    font-size: 22px;
    margin: 0 15px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #00adb5;
    transform: scale(1.2);
}